@charset "UTF-8";
@import url("common.css");


/* ここからお願いします */

/* サンプルとして判定内にどのように書くか記述しておいたので 
    使用する時は背景の色や文字の大きさの削除お願いします。*/

/* PC用 */
body {
  background: black;
  width:100%;
}
main{
  max-width: 730px;
  margin: auto;
}
.row {
  display: flex;
  justify-content: space-around;
  border-spacing: 10px;
  width:100%;
  height: auto;
}
.row input{
  width: 60px;
  height:50px;

}
.output{
  background: rgba(0, 0, 0, 0);
  border:solid rgba(0,0,0,0);
  color: white;
  text-align: right;
  width: 90%;
  font-size: 50px;
}
#result{
  width:97.5%;
}
.num{
  background: rgb(30, 30, 30);
  color:white;
  border-color: rgba(0,0,0,0);
  border-radius: 100px;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
}
.num:active{
  background: rgb(80, 80, 80);
}
#zero{
  padding-left:22px;
  text-align: left;
  width: 100%;
}
.sub{
  background:gray;
  color:black;
  border-color: rgba(0,0,0,0);
  border-radius: 100px;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
}
.sub:active{
  background:rgb(178,178,178);
}
.arithmetic{
  background:orange;
  color:white;
  border-color: rgba(0,0,0,0);
  border-radius: 100px; 
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  transition: all 0.5s;
}
.arithmetic:active{
  background:rgb(255, 204, 108);
}
.arithmetic.active{
  background:white;
  color:orange;
}
.equal{
  background:orange;
  color:white;
  border-color: rgba(0,0,0,0);
  border-radius: 100px; 
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}
.equal:active{
  background:rgb(255, 204, 108);
}
.none{
  background:rgb(20, 20, 20);
  color:white;
  border-color: rgba(0,0,0,0);
  border-radius: 100px; 
  font-size: 15px;
}
.none:active{
  background:rgb(70, 70, 70);
}

/* 横幅1023px以下の時 (モバイル　横画面用) */
@media screen and (max-width: 1023px) {
  body {
    background: black;
  }
  p{
    font-size: 20px;
  }
  
}

/* 横幅500px以下の時 (モバイル　縦画面用) */
@media screen and (max-width: 500px) {
  body {
    background: black;
    width:100%;
  }
  p{
    font-size: 10px;
  }
  .row {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height:auto;
  }
  .row tbody{
    margin: auto;
    text-align: center;
  }
  .row input{
    width: 65px;
    height:65px;
  }
  /* 縦のみ。出力を除いて、√などの演算子枠を全て非表示 (1列目~6列目) */
  .row tr:nth-child(n +2) td:nth-child(n + 1):not(:nth-child(n + 6)){
    display: none;
  }

  .output{
    font-size: 50px;
  }
  #result{
    width:350px;
  }
  .num{
    font-size: 25px;
  }
  #zero{
    padding: left 22px;
  }
  .sub{
    font-size: 20px;
  }
  .arithmetic{
    font-size: 25px;
  }
  .none{
    display: none;
  }
}